@import 'Tailwindcss';

body {
  font-family: "Poppins", sans-serif;
}

h1, h2, h3 {
  font-family: "Orbitron", sans-serif;
}

@layer utilities {
  .gradient {
    background: linear-gradient(-145deg, rgb(5, 20, 52), rgb(0, 0, 0));
  }
}

@layer components {}

@layer utilities {}