@import "tailwindcss";


html {
    transform: scale(1.25);
    transform-origin: top left;
    width: 80%; /* prevent overflow due to scaling */
}


body {
  font-family: "Poppins", sans-serif;
}

h1, h2, h3 {
  font-family: "Orbitron", sans-serif;
}

/* global or component CSS */
.spline-wrapper {
  position: fixed;
  inset: 0;
  z-index: 0;
  pointer-events: auto;
}

.content {
  position: relative;
  z-index: 10;
  padding: 2rem;
  color: white;
}

@layer utilities {
  .gradient {
    background: linear-gradient(-145deg, rgb(0, 0, 0), rgb(35, 53, 73));
  }
}

@layer components {}
