@import "tailwindcss";

body{
    font-family: "poppins", sans-serif;
}

h1,h2,h3{
    font-family: "Orbitron" , sans-serif;
}

@layer utilities {
    .gradient{
        background: linear-gradient(-145deg , rgb(154, 228, 228),rgb(70, 149, 180),rgb(111, 117, 202))
    }
}